$black: rgba(0, 0, 0, 0.7);
$white: #fff;
$green1: #91966E;
$green2: #9FA9A0;
$brown: #BCAD90;

@font-face {
  font-family: poppy;
  src: url('../fonts/poppy_shower.ttf');
}
@font-face {
  font-family: memories;
  src: url('../fonts/memories.ttf');
}
@font-face {
  font-family: belista;
  src: url('../fonts/belista.ttf');
}
@font-face {
  font-family: playfair;
  src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@keyframes bounce {
  0% { transform: translateY(0); }
  25% { transform: translateY(4px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(-4px); }
  100% { transform: translateY(0); }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: $black;
  font-size: 16px;
  font-family: playfair, 'Open Sans', sans-serif;
  line-height: 1.63;
}

.banner {
  height: 95vh;
  width: 100vw;
  background-image: url('../images/rustic.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  &__title {
    font-family: belista;
    font-size: 5rem;
    line-height: 0.7;
    transform: skew(-7deg,-7deg);
    color: $brown;

    span {
      font-size: 3rem;
    }
  }

  &__date {
    margin-top: 32px;
    color: $green1;
  }

  &__arrow {
    height: 64px;
    width: 64px;
    border-radius: 32px;
    line-height: 32px;
    position: absolute;
    bottom: -32px;
    margin: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;

    span {
      animation: bounce 1.5s linear infinite;
    }
  }
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 72px 48px;
  max-width: 600px;
  text-align: center;
  margin: auto;

  &__icon {
    color: $green1;
    font-size: 6rem;
    line-height: 0.5;
    // opacity: 0.7;
  }

  &__source {
    margin-top: 32px;
    color: $brown;
  }
}

.bio {
  padding: 32px 0 64px;
  margin: auto;
  
  @media screen and (min-width: 500px) {
    display: flex;
    align-items: top;
    justify-content: center;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    margin-bottom: 16px;
  
    @media screen and (min-width: 500px) {
      flex-direction: row-reverse;
    }

    & > * {
      margin: 0 8px;
    }

    &.left {
      text-align: left;
      justify-content: flex-start;
  
      @media screen and (min-width: 500px) {
        text-align: right;
      }
    }

    &.right {
      text-align: right;
      justify-content: flex-end;
  
      @media screen and (min-width: 500px) {
        text-align: left;
      }
    }
  }

  img {
    width: 100px;
  }
  
  &__nick {
    font-family: belista;
    font-size: 4rem;
    line-height: 0.7;
    color: $brown;
  }

  &__name {
    margin-bottom: 8px;
    line-height: 1.2;
  }

  &__info {
    font-size: 0.7rem;
    opacity: 0.8;
    color: $green1;
  }

  &__parent {
    font-size: 0.8rem;
  }
}

.set {
  padding: 32px 0;
  background-color: $green1;
  text-align: center;
  color: $white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 50px;
    position: absolute;
    top: -49px;
    background-image: url(../images/wave-green.svg);
  }

  @media screen and (min-width: 500px) {
    flex-direction: row;
  }

  &__item {
    margin-bottom: 48px;
    padding: 0 64px;
    width: 100%;

    h3 {
      margin-bottom: 16px;
    }
  }
}