@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:500');

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: #0E2430;
	background-color: #f9f9f9;
}

.section {
	height: 100%;
	max-width: 479px;
	background-color: rgba(255,255,255, 0.12);
	overflow: hidden;
	margin: auto;
}

.section__title {
	font-family: 'Playfair Display', serif;
	font-size: 1.5rem;
	text-align: center;
    padding: 4rem 0 1rem;
	font-weight: 500;
    margin-bottom: 30px;
    color: rgba(0,0,0,0.7);
}

.section__slide {
	white-space: nowrap;
	height: 400px;
	text-align: center;
	width: 100%;
    overflow-x: scroll;
    height: -webkit-fill-available;
    padding: 30px;
}

.thumb {
	width: 240px;
	background-color: #fff;
	display: inline-block;
	border-radius: 6px;
	transition: all 0.2s ease-in-out;
	margin: auto 0.5rem;
	vertical-align: top;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

.thumb__img {
	margin: 0.75rem auto;
	width: 90%;
	height: 160px;
	content: "";
	background-size: cover;
	border-radius: 6px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
	transition: all 0.2s ease-in-out;
}

.thumb__btn {
	margin: 0 auto 0.75rem;
	color: #FFF;
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 0.8rem;
	opacity: 0;
	display: inline-block;
	width: 50%;
	text-align: center;
	padding: 0.75rem 1rem;
	box-sizing: border-box;
	transform: translateY(-30px);
	transition: all 0.2s ease-in-out;
	border-radius: 3px;
	line-height: 1.2;
	cursor: pointer;
}

.thumb__btn.w70 {
	background: #3FD97F;
	width: 70%;
}

.thumb__btn.w30 {
	background: #FC3A51;
	width: 30%;
}

.thumb__content {
	padding: 0 1rem;
}

.desc__name {
	width: 70%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.desc__price {
	color: #267889;
	font-weight: 500;
	font-size: 1.2rem;
	width: 30%;
	display: inline-block;
	text-align: right;
}

.desc__mainname {
	font-weight: 500;
	line-height: 1.5;
}

.desc__subname {
	font-size: 0.75rem;
	color: rgba(0, 0, 0, 0.5);
}

.desc__detail {
	margin-top: 1rem;
	max-height: 0;
	overflow: hidden;
	margin-bottom: 1rem;
	transition: all 0.5s ease-in-out;
	color: rgba(0, 0, 0, 0.5);
}

.desc__attr {
	border-top: 1px solid #e2e2e2;
	font-size: 0.75rem;
	line-height: 2.5;
	text-align: left;
}

.arrow-link {
    position: relative;
    background-image: url(https://image.flaticon.com/icons/svg/32/32195.svg);
    background-size: cover;
    width: 10px;
    height: 10px;
    float: right;
    transform:translateY(-5px);
    vertical-align: middle;
    margin: 0 0 4px 4px;
	transition: all 0.2s ease-in-out;
}

.gradient-left:before {
	content: "";
	position: absolute;
	width: 10vw;
	top: 0;
	left: 0;
	bottom: 0;
	background-image: linear-gradient(to left,transparent,#e9e9e9);
	opacity: 0.6;
}

.gradient-right:before {
	content: "";
	position: absolute;
	width: 10vw;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to right,transparent,#e9e9e9);
	opacity: 0.6;
}

.thumb:hover .thumb__btn {
	transform: translateY(0px);
	opacity: 1;
}

.thumb:hover {
	transform: translateY(20px);	
}

.thumb:hover .thumb__img {
	transform: translateY(-40px) scale(1.2);
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
	transition-delay: 0.2s;
}

.thumb:hover .arrow-link {
	transform: rotate(180deg);
}

.thumb:hover .desc__detail {
	max-height: 1000px;
}

/*.thumb__btn.w70:hover {
	background: rgba(200, 255, 0, 0.7);
	transform: translateY(0px);
}

.thumb__btn.w30:hover {
	background: rgba(250, 2, 60, 0.7);
	transform: translateY(0px);
}*/

.mark {
	font-family: 'Playfair Display', serif;
	font-size: 0.75rem;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
	width: 100%;
	color: rgba(0,0,0,0.4);
	font-weight: 600;
}

@media only screen and (max-width: 479px){
	.section {
		max-width: 100%;
	}
}
